# Arquivos de output do Robot Framework
log.html
report.html
output.xml
.env

# Ignorar todos os screenshots
*.png

# Ignorar a pasta de relatórios e logs gerados
/reports/
selenium-screenshot-*.png

# Cache do Python
__pycache__/

# Configuração do VS Code
.vscode/

# Cache de bibliotecas do Robot Framework
.robotframework-dotenv-library/

# Arquivos temporários
PIPE